# Virtual environment
vnv/

# Ignore .env file
.env

# Compiled Python files
__pycache__/
*.pyc

# Dependency directories
.venv/
.idea/
*.iml# Virtual environment
venv/

# Ignore .env file
.env

# Compiled Python files
__pycache__/
*.pyc

# Dependency directories
.venv/
.idea/
*.iml

#data folder
Dataset/
myData/
